<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.system" package="com.evenwell.powersaving.g3">
    <protected-broadcast android:name="com.fihtdc.action.powersaving.now_in_lpm"/>
    <protected-broadcast android:name="com.fihtdc.action.powersaving.lpm.still.setting"/>
    <protected-broadcast android:name="com.fihtdc.action.powersaving.lpm.update_schedule"/>
    <protected-broadcast android:name="com.fihtdc.action.powersaving.lpm.recheck_battery_status"/>
    <protected-broadcast android:name="com.fihtdc.action.powersaving.ss.checkwifi"/>
    <protected-broadcast android:name="com.fihtdc.action.powersaving.ss.checkhotspot"/>
    <protected-broadcast android:name="com.fihtdc.action.powersaving.systemui.execute.ps.update_ui"/>
    <protected-broadcast android:name="com.fihtdc.action.powersaving.lpm.applay.end"/>
    <protected-broadcast android:name="com.fihtdc.action.powersaving.dc.applay.end"/>
    <protected-broadcast android:name="com.fihtdc.action.powersaving.dc.screen_off_action"/>
    <protected-broadcast android:name="com.evenwell.powersaving.g3.time_schedule_boot_handle"/>
    <protected-broadcast android:name="com.evenwell.powersaving.g3.time_schedule_start_time"/>
    <protected-broadcast android:name="com.evenwell.powersaving.g3.time_schedule_end_time"/>
    <protected-broadcast android:name="quicksetting.tile.refresh"/>
    <protected-broadcast android:name="com.evenwell.action.powersaving.ACTION_BAM_NEVER_SHOW"/>
    <protected-broadcast android:name="com.evenwell.action.powersaving.ACTION_BAM_NOTIFICATION_EVENT"/>
    <protected-broadcast android:name="com.evenwell.action.powersaving.ACTION_BAM_STATUS"/>
    <protected-broadcast android:name="com.evenwell.action.powersaving.g3.adjust.function"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.UPDATE_APP_OPS_STATS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="com.evenwell.permission.PUSH_AGENT_SERVICE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.Manifest.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="android.Manifest.permission.CHANGE_APP_IDLE_STATE"/>
    <permission android:name="com.evenwell.powersaving.RemotePowerSavingController" android:protectionLevel="normal"/>
    <application android:allowClearUserData="false" android:icon="@mipmap/ic_powersaver_powersaver_light" android:label="@string/app_label" android:name="com.evenwell.powersaving.g3.aplifecycle.PSApplication" android:resizeableActivity="false" android:taskAffinity="com.evenwell.powersaving.g3" android:theme="@style/CustomActionBarTheme_O">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <receiver android:name="com.evenwell.powersaving.g3.PowerSavingReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="com.fihtdc.wifihotspot.connected.status"/>
                <action android:name="android.net.conn.TETHER_STATE_CHANGED"/>
                <action android:name="codeaurora.net.conn.TETHER_CONNECT_STATE_CHANGED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.fihtdc.powersaving.period_check_service"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.fihtdc.powersaving.start_powersaver"/>
                <action android:name="com.fihtdc.powersaving.start_subitem"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.evenwell.powersaving.g3.detect_pull_time"/>
            </intent-filter>
        </receiver>
        <service android:label="@string/fih_power_saving_power_saver_backup_title" android:name="com.evenwell.powersaving.g3.backuptool.PowerSavingBackupRestoreService" android:process="com.evenwell.backuptool">
            <intent-filter>
                <action android:name="com.fihtdc.backup"/>
            </intent-filter>
        </service>
        <service android:label="@string/lock_screen_ap_protect_title" android:name="com.evenwell.powersaving.g3.backuptool.BamBackupRestoreService" android:process="com.evenwell.backuptool">
            <intent-filter>
                <action android:name="com.fihtdc.backup"/>
            </intent-filter>
        </service>
        <provider android:authorities="com.evenwell.powersaving.g3" android:exported="true" android:multiprocess="false" android:name="com.evenwell.powersaving.g3.provider.PowerSavingProvider" android:singleUser="true"/>
        <activity android:clearTaskOnLaunch="true" android:enabled="@bool/apply_power_saving_tile" android:label="@string/app_label" android:name="com.evenwell.powersaving.g3.MainActivity" android:parentActivityName="com.evenwell.powersaving.g3.MainActivity" android:taskAffinity="com.evenwell.powersaving.g3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.MONKEY"/>
                <action android:name="android.powersaving.MAIN_SCREEN"/>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:label="@string/app_label" android:launchMode="singleInstance" android:name="com.evenwell.powersaving.g3.exception.PowerSaverExceptionActivity" android:parentActivityName="com.evenwell.powersaving.g3.MainActivity" android:resizeableActivity="false" android:taskAffinity="com.evenwell.powersaving.g3.exception">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.MONKEY"/>
                <action android:name="android.powersaving.MAIN_SCREEN"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:name="com.evenwell.powersaving.g3.AlertActivity" android:taskAffinity="com.evenwell.powersaving.g3" android:theme="@style/Transparent"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:name="com.evenwell.powersaving.g3.utils.PowerSaverRequestDialog" android:taskAffinity="com.evenwell.powersaving.g3" android:theme="@style/Transparent">
            <intent-filter>
                <action android:name="com.evenwell.powersaving.g3.POWER_SAVER_REQUEST_DIALOG"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:name="com.evenwell.powersaving.g3.utils.PowerSaverInfoDialog" android:taskAffinity="com.evenwell.powersaving.g3" android:theme="@style/Transparent">
            <intent-filter>
                <action android:name="com.evenwell.powersaving.g3.POWER_SAVER_INFO_DIALOG"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:name="com.evenwell.powersaving.g3.backuptool.PowerSavingBackupRestorePermissionActivity" android:process="com.evenwell.backuptool" android:screenOrientation="portrait" android:taskAffinity="com.evenwell.backuptool" android:theme="@style/Transparent"/>
        <provider android:authorities="com.evenwell.powersaving.g3.disautoprovider" android:exported="true" android:name="com.evenwell.powersaving.g3.provider.DisAutoStartProvider"/>
        <provider android:authorities="com.evenwell.powersaving.g3.wakeupprovider" android:exported="true" android:name="com.evenwell.powersaving.g3.provider.WakeUpProvider"/>
        <provider android:authorities="com.evenwell.powersaving.g3.whitelistprovider" android:exported="true" android:name="com.evenwell.powersaving.g3.provider.WhiteListProvider"/>
        <service android:exported="true" android:name="com.evenwell.powersaving.g3.background.BackgroundCleanService"/>
        <service android:exported="true" android:name="com.evenwell.powersaving.g3.pushservice.PushReceiverService" android:singleUser="true">
            <intent-filter>
                <action android:name="com.fihtdc.push_system.lib.app.PUSH_RECEIVER"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.evenwell.powersaving.g3.pushservice.DownloadFileService"/>
        <service android:name="com.evenwell.powersaving.g3.pushservice.PollingService"/>
        <service android:name="com.evenwell.powersaving.g3.e.doze.EDozeService">
            <intent-filter>
                <action android:name="EDozeService.remote"/>
            </intent-filter>
        </service>
        <service android:name="com.evenwell.powersaving.g3.e.doze.BluetoothTetheringService"/>
        <service android:name="com.evenwell.powersaving.g3.e.doze.WifiTetheringService"/>
        <service android:name="com.evenwell.powersaving.g3.exception.DefaultWhiteListService"/>
        <service android:name="com.evenwell.powersaving.g3.appops.UpdateBootCompleteService"/>
        <service android:name="com.evenwell.powersaving.g3.appops.UpdateBackgroundOpsService"/>
        <service android:name="com.evenwell.powersaving.g3.appops.UpdateRunAnyInBackgroundOpsService"/>
        <service android:name="com.evenwell.powersaving.g3.background.PackageService"/>
        <service android:name="com.evenwell.powersaving.g3.background.WakelockCleanService"/>
        <service android:name="com.evenwell.powersaving.g3.component.UpdateComponentService"/>
        <service android:enabled="true" android:exported="true" android:name="com.evenwell.powersaving.g3.powersaver.PowerSavingController" android:singleUser="true"/>
        <receiver android:name="com.evenwell.powersaving.g3.timeschedule.TimeScheduleAlarmReceiver">
            <intent-filter>
                <action android:name="com.evenwell.powersaving.g3.time_schedule_start_time"/>
                <action android:name="com.evenwell.powersaving.g3.time_schedule_end_time"/>
                <action android:name="com.evenwell.powersaving.g3.time_schedule_boot_handle"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.evenwell.powersaving.g3.ForceStopAppListProvider" android:exported="true" android:name="com.evenwell.powersaving.g3.provider.ForceStopAppListProvider"/>
        <provider android:authorities="com.evenwell.powersaving.g3.StopSyncAdapterProvider" android:exported="true" android:name="com.evenwell.powersaving.g3.provider.StopSyncAdapterProvider"/>
        <service android:exported="true" android:name="com.evenwell.powersaving.g3.background.ProcessMonitorService" android:persistent="true"/>
        <service android:exported="true" android:name="com.evenwell.powersaving.g3.background.GPSManagerService" android:persistent="true"/>
        <service android:name="com.evenwell.powersaving.g3.appops.UpdateGPSOpsService"/>
        <provider android:authorities="com.evenwell.powersaving.g3.ProcessMonitorProvider" android:exported="true" android:name="com.evenwell.powersaving.g3.provider.ProcessMonitorProvider"/>
        <provider android:authorities="com.evenwell.powersaving.g3.MotionTimeTableProvider" android:exported="true" android:name="com.evenwell.powersaving.g3.provider.MotionTimeTableProvider"/>
        <service android:enabled="@bool/apply_power_saving_tile" android:icon="@drawable/ic_tile_power_saving_off" android:name="com.evenwell.powersaving.g3.powersaver.PowerSavingTileService" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:singleUser="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service android:enabled="false" android:icon="@drawable/ic_grayscale_mode_off" android:label="@string/fih_power_saving_grayscale_mode_title" android:name="com.evenwell.powersaving.g3.powersaver.GrayscaleModeTileService" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service android:name="com.evenwell.powersaving.g3.background.CheckDBService"/>
        <service android:name="com.evenwell.powersaving.g3.powersaver.RemotePowerSavingController" android:permission="com.evenwell.powersaving.RemotePowerSavingController" android:singleUser="true">
            <intent-filter>
                <action android:name="service.remote"/>
            </intent-filter>
        </service>
        <receiver android:enabled="true" android:exported="true" android:name="com.evenwell.powersaving.g3.special.SecretCodeReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE"/>
                <data android:host="226" android:scheme="android_secret_code"/>
            </intent-filter>
        </receiver>
        <activity android:launchMode="singleInstance" android:name="com.evenwell.powersaving.g3.special.SecretActivity" android:process=":secretmode" android:taskAffinity="com.evenwell.powersaving.g3.special.SecretActivity"/>
    </application>
</manifest>