<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    This site is open-source, and the code is available on <a href="https://github.com/urbandroid-team/dont-kill-my-app">Github</a>.<br>Contributions, as well as discussion, are very welcome!
    <a href='https://www.free-counters.org/'>free Counters</a>
    <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=12f55eb6f19dcc35be9db505c143eea0ff25a8fa'></script>
    <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/464226/t/2"></script>
  </div>

</footer>
