<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    This site is open-source, and the code is available on <a href="https://github.com/urbandroid-team/dont-kill-my-app">Github</a>.<br>Contributions, as well as discussion, are very welcome!
    <!-- Start of CuterCounter Code -->
    <a href="http://www.cutercounter.com/" target="_blank"><img src="http://www.cutercounter.com/hit.php?id=grfcqdq&nd=9&style=51"
        border="0" alt="visitor counter"></a>
    <!-- End of CuterCounter Code -->
  </div>

</footer>
