<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper text-center">
    <p>
      This site is open-source, and the code is available on <a href="https://github.com/urbandroid-team/dont-kill-my-app">Github</a>.<br>Contributions, as well as discussion, are very welcome!
    </p>
    <p id="icons-attribution"></p>

    <p id="customization-links"></p>
    <p>
      <script type="text/javascript" src="https://free-hit-counters.net/count/1i2i"></script><br>
      <a href='https://www.free-counters.org/'>free Counters</a>
      <script type='text/javascript' src='https://whomania.com/ctr?id=ab8be8e1c507e506c62a6c4ff3a44e2aa512b73f'></script>
    </p>
  </div>

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {

    scoreCustomization = []
    addCustomScore('', 'poo.svg', 'poo_full.svg', '')
    addCustomScore('?1', 'stalin_empty.svg', 'stalin_full.svg', 'Icon: stalin by Greg Ellinger from the Noun Project')
    addCustomScore('?2', 'poo.svg', 'poo_full.svg', '')
    addCustomScore('?3', 'thumbsdown_empty.svg', 'thumbsdown_full.svg', '')
    addCustomScore('?4', 'trojan_empty.svg', 'trojan_full.svg', 'Icon: Troy horse by Juan Pablo Bravo from the Noun Project')
    addCustomScore('?5', 'trash.svg', 'trash_full.svg', '')

    console.log(scoreCustomization)
    var arrayLength = scoreCustomization.length;
    for (var i = 1; i < arrayLength; i++) {
      currentHtml = $('#customization-links').html()
      $('#customization-links').html(currentHtml + '<a class="customization-switch-link" href="' + window.location.pathname + scoreCustomization[i].param + '"><img class="customization-switch" src="'+ scoreCustomization[i].fullScore +'"></a>')
    }

    var currentScoreCustomization = scoreCustomization.filter(obj => {
      return obj.param === window.location.search
    })
    changeScoreImages(currentScoreCustomization[0].emptyScore, currentScoreCustomization[0].fullScore)
    attribute(currentScoreCustomization[0].attribution)
    addScoreParameterToAllLocalLinks(window.location.search)
  });

  function addCustomScore(parameter, emptyScore, fullScore, attribution) {
    scoreCustomization.push({
      'param':parameter,
      'emptyScore': "/assets/img/" + emptyScore,
      'fullScore': "/assets/img/" + fullScore,
      'attribution':attribution
    })
  }
  function attribute(author) {
    document.getElementById('icons-attribution').innerHTML = author
  }
  function addScoreParameterToAllLocalLinks(parameter) {
    $('a').each(function () {
      if (this.host === window.location.host && this.className != "customization-switch-link" && this.href.indexOf('#') === -1) {
        this.href = this.href + parameter;
      }
    });
  }
  function changeScoreImages(imgRelativePathEmptyScore, imgRelativePathFullScore) {
    $('.score-empty').each((i, score) => {
      $(score).attr('src', imgRelativePathEmptyScore)
    })
    $('.score-full').each((i, score) => {
      $(score).attr('src', imgRelativePathFullScore)
    })
  }
</script>