h3 {
  font-weight: 700;
}
blockquote {
  font-family: 'Courier New', Courier, monospace
}

.cardholder {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
}

.card {
  min-width: 40%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  margin: 1em;
  p {
    text-align: right;
    max-width: 50%;
    font-size: 0.7em;
  }
}
.card-vendor {
  background-color: lightskyblue;
}
.card-vendor:hover {
  background-color: dodgerblue;
}
.card-vendor-award {
  background-color: pink;
}
.card-vendor-award:hover {
  background-color: palevioletred;
}
a, a:visited {
  color: rgb(100,100,100)
}
a:hover {
  text-decoration: none;
}

img {
  padding-top: 1em;
  max-height: 25em;
  display: block;
  margin: 0 auto;
}