body {
  font: 300 16px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  //background-color: #ffffde;

}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 1.5em
  // margin-top: 2em;
}
h3 {
  font-weight: 700;
}
em {
  color: rgba(0,0,0,0.7);
}
blockquote {
  padding-left: 0.5em;
}
#explanation-title:before, a[href="#explanation"]:before {
  // content: "💩 "
}
#user-solution-title:before, a[href="#user-solution"]:before {
  // content: "💪 "
}
#developer-solution-title:before, a[href="#dev-solution"]:before {
  // content: "🤖 "
}
section:first-child {
  margin-bottom: 2em;
}
section:not(:first-child) {
  margin-bottom: 6em;
}
blockquote {
  font-family: 'Courier New', Courier, monospace
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.site-footer {
  font-size: 0.7em;
}
#punchline {
  padding: 0em 0 1em;
  font-weight: 300;
  font-size: 1.2em
}

.award {
  color: brown;
  font-weight: 900;
  // background-color: rgba(255,255,255,0.5);
  border-radius: 4px;
}
.cardholder {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
}

.card {
  min-width: 40%;
  max-width: 100%;
  justify-content: space-between;
  padding: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  flex: 1;
  // flex-grow: 9999;
  p {
    text-align: right;
    // max-width: 50%;
    font-size: 2em;
  }
  h2 {
    margin-bottom: 0;
  }
  & .card-subtitle {
    // color: #888;
    min-height: 1em;
    font-size: 0.7em;
    font-weight: 300;
  }
}
.card-vendor {
  border-radius: 10px;
  background-color: #ffedc9;
  h2 { color: black; }
}
.card-award-color-1 {
  background-color: #800026;
}
.card-award-text-color-1 {
  color: #ffffff;
}
.card-award-color-2 {
  background-color: #bd0026;
}
.card-award-text-color-2 {
  color: #ffffff;
}
.card-award-color-3 {
  background-color: #e31a1c;
}
.card-award-text-color-3 {
  color: #ffffff;
}
.card-award-color-4 {
  background-color: #fc4e2a;
}
.card-award-text-color-4 {
  color: #ffffff;
}
.card-award-color-5 {
  background-color: #fd8d3c;
}
.card-award-text-color-5 {
  color: #000000;
}
.card-award-color-6 {
  background-color: #feb24c;
}
.card-award-text-color-6 {
  color: #000000;
}
.card-award-color-7 {
  background-color: #fed976;
}
.card-award-text-color-7 {
  color: #000000;
}
.card-award-color-8 {
  background-color: #ffeda0;
}
.card-award-text-color-8 {
  color: #000000;
}
.card-award-color-9 {
  background-color: #ffeda0;
}
.card-award-text-color-9 {
  color: #000000;
}
.card-award-color-10 {
  background-color: #ffeda0;
}
.card-award-text-color-10 {
  color: #000000;
}

.card-award-color-11 {
  background-color: #ffeda0;
}
.card-award-text-color-11 {
  color: #000000;
}

.card-award-color-12 {
  background-color: #ffeda0;
}
.card-award-text-color-12 {
  color: #000000;
}


.card-vendor:hover {
  background-color: grey;
}
.card-vendor-award {
  border-radius: 10px;

  // position: relative;
  h2 {
    color: black;
    // margin-right: 2em;
  }
  p {
    color: black;
    // height: calc(100% - 0.5em);
    // position: absolute;
    // top: 0;
    // right: 0;
    // padding: 0.5em;
  }
}
.poo {
  display: inline;
  height: 1em;
  padding-top: 0;
  padding-bottom: 0;
}
#about_score .poo {
  height: 3em;
}
.score {
  margin-bottom: 1em;
}
#score {
  margin: 0.5em;
  display: inline-block;
}
.score-empty {
  opacity: 0.5;
}
#copyembed {
  text-decoration: underline;
  cursor: pointer;
  &:active {
    color: orange;
  }
}
.customization-switch {
  height: 2em;
  display: inline;
  padding: 1em;
}
.card-vendor-award:hover {
  background-color: grey;
}
#vendor-btn-contribute {
  // float: right;
  background-image: url('/assets/img/pencil-outline.svg');
  background-size: contain;
  height: 1.2em;
  margin: 0.4em;
  padding: 0.4em;
  // padding-bottom: 0.6em;
  padding-left: 2.4em;
  // border: 1px solid rgba(0,0,0,0.8);
  // border-radius: 4px;
  background-repeat: no-repeat;
  &:hover {
    font-weight: bold;
    // transform: scale(1.1)
  }
}
#vendor-btn-feedback {
  // float: right;
  background-image: url('/assets/img/pencil-outline.svg');
  background-size: contain;
  height: 1.2em;
  margin: 0.4em;
  padding: 0.4em;
  // padding-bottom: 0.6em;
  padding-left: 2.4em;
  // border: 1px solid rgba(0,0,0,0.8);
  // border-radius: 4px;
  background-repeat: no-repeat;
  &:hover {
    font-weight: bold;
    // transform: scale(1.1)
  }
}

a, a:visited {
  color: #F57C00;
}
a:hover {
  text-decoration: none;
}

.page-link#press {
  color: rgba(0,0,0,0.5);
}
#vendor-menu {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  nav {
    padding: 0.2em;
  }
  nav a {
    padding: 1em 2em;
    // flex: 1 1 0;
    &:hover {
      background-color: lightgrey;
      color: grey;
    }
  }
}
main.page-content {
  padding-top: 2em;
}
img {
  padding-top: 1em;
  padding-bottom: 1em;
  max-height: 25em;
  display: block;
  margin: 0 auto;
}
.img-block {
  text-align: center;
  img {
    display: inline-block;
  }
  figure {
    display: inline-block;
    vertical-align: top;
  }
}

@media only screen and (min-width: 601px) {
  .awarded-vendor-link, .vendor-link  {
    display: none;
  }
  #vendor-menu {
    flex-direction: row;
  }
}
.site-nav {
  z-index: 1;
}

.dont-break-out, a {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.caution-box {
    color: #D8000C;
    background-color: #FFD2D2;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
}

#vendor-head {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

}

#user-solution-section-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

}


#play-store-badge {

  img {
    height: 2.8em;
    display: inline;
    padding: 0.4em 0.3em;
  }
}