h3 {
  font-weight: 700;
}
em {
  color: rgba(0,0,0,0.7);
}
#explanation-title:before, a[href="#explanation"]:before {
  content: "💩 "
}
#user-solution-title:before, a[href="#user-solution"]:before {
  content: "💪 "
}
#developer-solution-title:before, a[href="#dev-solution"]:before {
  content: "🤖 "
}
blockquote {
  font-family: 'Courier New', Courier, monospace
}
.site-footer {
  font-size: 0.7em;
}
.award {
  color: brown;
  font-weight: 900;
  background-color: rgba(255,255,255,0.5);
  // border-radius: 50%;
  // padding: 0.5em
}
.cardholder {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
}

.card {
  min-width: 40%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1 1 0;
  padding: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  // flex-grow: 9999;
  p {
    text-align: right;
    max-width: 50%;
    font-size: 1.5em;
  }
}
.card-vendor {
  background-color: #26a69a;
  h2 { color: black; }
}
.card-award-color-1 {
  background-color: #ba68c8;
}
.card-award-color-2 {
  background-color: #ec407a;
}
.card-award-color-3 {
  background-color: #ef5350;
}
.card-award-color-4 {
  background-color: #ff5722;
}
.card-award-color-5 {
  background-color: #ff9800;
}
.card-award-color-6 {
  background-color: #ffc107;
}
.card-award-color-7 {
  background-color: #ffeb3b;
}
.card-award-color-8 {
  background-color: #fff176;
}
.card-award-color-9 {
  background-color: #26c6da;
}
.card-award-color-10 {
  background-color: #29b6f6;
}


.card-vendor:hover {
  background-color: #cddc39;
}
.card-vendor-award {
  position: relative;
  h2 {
    color: black;
  }
  p {
    color: black;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
  }
}
.card-vendor-award:hover {
  background-color: #cddc39;
}
a, a:visited {
  color: rgb(250,60,60)
}
a:hover {
  text-decoration: none;
}
#vendor-menu {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#vendor-menu nav {
  padding: 0.2em;
}
#vendor-menu nav a {
  padding: 0.5em 3em;
  // flex: 1 1 0;
  &:hover {
    background-color: grey;
    color: white;
  }
}
main.page-content {
  padding-top: 2em;
}
img {
  padding-top: 1em;
  max-height: 25em;
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 601px) {
  .awarded-vendor-link, .vendor-link  {
    display: none;
  }
}
.site-nav {
  z-index: 1;
}

.dont-break-out, a {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  color: #cddc39;

}