---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {% for my_page in site.pages %}
    {% if my_page.machine_name == "problem" %}
      {{ my_page.excerpt }}
    {% endif %}
  {% endfor %}

  <div class="cardholder">
    {%- if site.vendors.size > 0 -%}

    {% assign sorted_vendors = site.vendors | sort:"award" %}

    {%- for vendor in sorted_vendors -%} {% if vendor.award %}
    {%- include card-vendor-award.html -%}
    {%- endif -%} {%- endfor -%}

    {%- for vendor in site.vendors -%} {% unless vendor.award %}
    {%- include card-vendor.html -%}
    {%- endunless -%} {%- endfor -%}

    {%- endif -%}
  </div>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS bitch</a></p> -->

</div>
<script>
  var cardArr = document.getElementsByClassName("card")
  var step = (256/cardArr.length)/1.5
  var r = 255

  Array.from(cardArr).forEach(el => {
    el.style.backgroundColor = "rgb(" + r + "," + r/4 + "," + r/6 + ")"
    r = r-step
  });
  // debugger;
</script>